<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<body th:fragment="peo">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>

		<!-- ITEMS -->
		<div th:each="item : ${items}">
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<img th:src="${item.product.image}" alt="" />
							<h2>$56</h2>
							<p th:text="${item.product.name}"></p>
							<a href="#" class="btn btn-default add-to-cart"><i
								class="fa fa-shopping-cart"></i>Add to cart</a>
						</div>
						<div class="product-overlay">
							<div class="overlay-content">
								<h2 th:text="${item.unitCost}"></h2>
								<p th:text="${item.product.name}"></p>
								<a href="#" class="btn btn-default add-to-cart"><i
									class="fa fa-shopping-cart"></i>Add to cart</a>
							</div>
						</div>
					</div>
					<div class="choose">
						<ul class="nav nav-pills nav-justified">
							<li><a href=""><i class="fa fa-plus-square"></i>Add to
									wishlist</a></li>
							<li><a href=""><i class="fa fa-plus-square"></i>Add to
									compare</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- ITEMS -->
	</div>
	<!--features_items-->
</body>
</html>