<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head th:replace="header :: peo"></head>

<body>
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-sm-offset-1">
					
					<div class="login-form"><!--login form-->
						<h2>Login to your account</h2>
						<form action="#" th:action="@{/signin}" method="POST">
							<input th:type="text" type="text" placeholder="Name" th:name="user"/>
							<input th:type="password" type="password" placeholder="Password" th:name="pwd"/>
							<span>
								<input type="checkbox" class="checkbox" /> 
								Keep me signed in
							</span>
							<button type="submit" class="btn btn-default">Login</button>
						</form>
					</div><!--/login form-->
					
				</div>
				<div class="col-sm-1">
					<h2 class="or">OR</h2>
				</div>
				<div class="col-sm-4">
					
					<div class="signup-form"><!--sign up form-->
						<h2>New User Signup!</h2>
						<form action="#" th:action="@{/signup}" th:object="${account}" method="POST" enctype="application/json">
							<input type="text" placeholder="Name" th:value="${account.username}" name="username" th:type="text"/>
							<input type="email" placeholder="Email Address" th:value="${account.email}" name="email" th:type="email"/>
							<!-- <input type="password" placeholder="Password" name="pwd" th:field="*{}"/> -->
							<button type="submit" class="btn btn-default">Signup</button>
						</form>
					</div><!--/sign up form-->
					
					
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	<div th:replace="footer :: peo"></div>

</body>
</html>